* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(37, 52, 37);
    color: white;
    height: 100vh;
}

.head-section {
    position: absolute;
    top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh 0vh;
}

.content {
    position: absolute;
    top: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    height: 10px;
    background-color: rgb(65, 87, 65);
    border-radius: 5px;
    width: 80%;
    margin-right: 20px;
}

.progress {
    height: 100%;
    width: 0%;
    background-color: forestgreen;
    border-radius: 5px;
}

.close-button {
    cursor: pointer;
    font-size: 3vh;
    color: rgb(65, 87, 65);
}

.close-button:hover {
    transform: scale(1.05);
}

.close-button:active {
    color: rgb(94, 124, 94)
}

.question-section {
    width: 100%;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 0vh;
}

.question-text {
    text-align: center;
    font-size: 7vh;
    margin: 2vh;
}

.sound-button, .text-sound-button {
    border: none;
    border-radius: 3vh;
    padding: 0;
    color: white;
    height: 15vh;
    width: 15vh;
    font-size: 7vh;
    cursor: pointer;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
}

.sound-button:hover, .text-sound-button:hover {
    transform: scale(1.05);
}

.question-section .sound-button, .question-section .text-sound-button {
    background-color: forestgreen;
}

.answer-section {
    width: 100%;
    display: flex;
    gap: 5vh;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3vh 0vh;
}

.answer-section .sound-button, .answer-section .text-sound-button {
    background-color: rgb(65, 87, 65);
    font-weight: bold;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
}

.choose {
    border: 0.5vh solid;
    border-color: lightskyblue;
}

.correct-option {
    border: 0.5vh solid;
    border-color: rgb(80, 211, 80);
}

.wrong-option {
    border: 0.5vh solid;
    border-color: coral;
}

.result-section {
    background-color: rgb(65, 87, 65);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
}

.result {
    font-size: 4vh;
    font-weight: bold;
    margin: 0vh 5vh;
}

.result.correct {
    color: rgb(80, 211, 80);
}

.result.wrong {
    color: coral;
}

.result-button {
    width: 20vh;
    height: 8vh;
    font-size: 3vh;
    font-weight: bold;
    border: none;
    border-radius: 1vh;
    margin: 0vh 5vh;
}

.result-button.unactive {
    background-color: rgb(37, 52, 37);
    color: rgb(65, 87, 65);
    cursor: default;
}

.result-button.confirm {
    background-color: darkcyan;
    color: lightskyblue;
    cursor: pointer;
}

.result-button.correct-next {
    background-color: forestgreen;
    color: rgb(80, 211, 80);
    cursor: pointer;
}

.result-button.wrong-next {
    background-color: firebrick;
    color: coral;
    cursor: pointer;
}

@media (max-width: 700px) {
    .head-section {
        top: 1vh;
    }
    .content {
        top: 5vh;
    }
    .question-section {
        font-size: 3vh;
    }
    .question-text {
        font-size: 5vh;
    }
    .sound-button, .text-sound-button {
        width: 13vh;
        height: 13vh;
        font-size: 6vh;
    }
    .answer-section {
        width: 35vh;
        gap: 6vh;
    }
    .result-section {
        height: 10vh;
    }
    .result-button {
        width: 15vh;
        height: 5vh;
        font-size: 2.5vh;
    }
    .result {
        font-size: 3vh;
    }
}